.box {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    margin-left: -2.7%;
    border: none;
}

body {
    background-color: black;
}

a {
    font-family: Arial;
    font-size: 18px;
    text-align: center;
    color: white;
}

hr {
    width: 115%;
    margin-left: -10%;
}